<ion-header>
  <ion-toolbar>
    <ion-title>🎬 Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let m of movies()">
        <ion-card [routerLink]="['/details', m.id]">
          <img [src]="m.image?.medium || 'https://via.placeholder.com/210x295?text=No+Image'" alt="Poster">
          <ion-card-header>
            <ion-card-title>{{ m.name }}</ion-card-title>
            <ion-card-subtitle>
              {{ m.premiered || 'N/A' }} • {{ m.genres?.join(', ') }}
            </ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
